.gridBlockCard{
    display: grid;
    grid-template-columns: repeat( 3 , 1fr);
    padding: 60px;
}
.cardss {
    cursor: pointer;
    padding: 20px;
    height: 310px;
    margin: 5px;
   
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#headlineB{
text-align:left ;
 font-size:1.4vw;
}
.s{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: black;
  border: none;
  box-shadow: 24;
  padding: 70px;
};

@media(max-width: 960px){
  .s{
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: blue;
    border: none;
    box-shadow: 24;
    padding: 70px;
  };
    .gridBlockCard{
      grid-template-columns: repeat(1, 1fr); 
    }
    #headlineB{
      text-align:left ;
       font-size:4vw;
      }
      .cardss {
        cursor: pointer;
        padding: 5px;
        height: 330px;
        margin: 5px;
        
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }